// HEADINGS NORMAL
$heading1: 3.5rem;
$heading2: 3rem;
$heading3: 2.5rem;
$heading4: 2rem;
$heading5: 1.5rem;

// HEADINGS SMALL
$heading1_s: 2.5rem;
$heading2_s: 2rem;
$heading3_s: 1.5rem;
$heading4_s: 1rem;
$heading5_s: 0.5rem;

// PARAGRAPH
$x_small_font_size: 0.6rem;
$small_font_size: 0.8rem;
$medium_font_size: 1rem;
$normal_font_size: 1.4rem;
$large_font_size: 1.6rem;
$x_large_font_size: 1.8rem;

// FONT WEIGHTS
$normal: 400;
$bold: 600;
