@import '_mediaqueries';

header {
  // background: rgba(0,0,0,.6);
  // border-bottom: 2px solid #000000;
  // display: flex;
  // flex-direction: row;
  // // padding: 30px;
  // text-align: center;
  // position: fixed;
  // width: 100%;
  // z-index: 100;
  // height: 50px;
  // padding: 2rem;

    background: rgba(51,51,51,.6);
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;

  a {
    color: white;
    display: grid;
    margin-right: 30px;
    padding: 10px;
    place-items: center;
    text-align: center;

    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    &:hover {
      background-color: rgba(255,255,255, 0.2);

      transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;
    }
  }

  @include respond-below(strangeWidth) {
    background: rgba(51,51,51,0.8);
  }

  .fbLogo {
    height: 54px;
    padding: 0;
    opacity: 0.6;
    width: 63px;
    &:hover {
      background-color: transparent;
      opacity: 1;
    }
    img {
      width: 100%;
      height: auto;
      max-height: 100px;
    }
  }
}
